.vup-containers {
    border: 1px dashed #aaa;
}
.vup-project-title {
    font-size: 16px;
}

.vup-90-deg {
    -webkit-transform:  rotate(-90deg);
    -moz-transform:     rotate(-90deg);
    -o-transform:       rotate(-90deg);
    -ms-transform:      rotate(-90deg);
    transform:          rotate(-90deg);
}

.vup-settings-logo {
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: -15px !important;
    height: 150px;
    background-image: url(../images/apache-logo-v.png);
    background-position: bottom left;
    background-size: contain;
    background-repeat: repeat-y;
}

[ng-drag], [ng-drag-clone]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
}

.vup-editable {
    border: 0;
    border-bottom: 1px solid #aaa;
    outline: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    background: transparent;
    color: #444;
    padding-top: 0;
    padding-bottom: 0;
}

.vup-short-input {
    width: 85px;
}